@import url(https://fonts.googleapis.com/css?family=Cinzel:400,900|Open+Sans);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfixed:after, section:after {
  display: table;
  content: " ";
  clear: both;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
}

a {
  text-decoration: none;
}

/*---------------------*/
/* Main Styles */
/*---------------------*/
main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
main:after {
  content: " ";
  display: block;
  clear: both;
}

h1,
h2 {
  font-family: 'Cinzel', serif;
}

h2 {
  padding: 5% 0%;
}

h3,
p,
a,
figcaption {
  font-family: 'Open Sans', sans-serif;
}

/*---------------------*/
/* header */
/*---------------------*/
header {
  background: gray;
  background-size: cover;
  height: 70vh;
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-top: 10em;
  text-align: center;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*---------------------*/
/* main */
/*---------------------*/
/*---------------------*/
/* footer */
/*---------------------*/
footer {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  height: 40px;
  padding: 2%;
  text-align: center;
  font-size: 0.8em;
}

/*---------------------*/
/* BREAKPOINTS */
/*---------------------*/
