*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	display: inline;
}

a {
	text-decoration: none;
}

/*---------------------*/
/* Main Styles */
/*---------------------*/
body {
	// background: $light-blue;
	// color: $black;
}

main {
	@include container(960px);
}

// main,
// aside,
// section,
// footer {
// 	@include box();
// }

section {
	@extend .clearfixed;
}

h1,
h2 {
	font-family: 'Cinzel', serif;
}

h2 {
	padding: 5% 0%;
} 

h3,
p,
a,
figcaption {
	font-family: 'Open Sans', sans-serif;
}

// a {
// 	color: ;

// 	&:hover {
// 		color: ;
// 	}//hover

// 	&:visited {
// 		color:;
// 	}
// }//a

/*---------------------*/
/* header */
/*---------------------*/

header {
	background: gray;
	background-size: cover;
	height: 70vh;
	margin-left: 0 auto;
	margin-right: 0 auto;
	padding-top: 10em;
	text-align: center;
} //header

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*---------------------*/
/* main */
/*---------------------*/






/*---------------------*/
/* footer */
/*---------------------*/

footer {
	@include span(12);
	
	height: 40px;
	padding: 2%;
	text-align: center;
	font-size: 0.8em;

}


/*---------------------*/
/* BREAKPOINTS */
/*---------------------*/

@include susy-breakpoint ($medium) {

}

@include susy-breakpoint ($small) {

}








