@import url(https://fonts.googleapis.com/css?family=Cinzel:400,900|Open+Sans);
// font-family: 'Cinzel', serif;
// font-family: 'Open Sans', sans-serif;


$transwhite: rgba(255,255,255,0.5);

//COLOR PALLET

$logo-red: rgba(91,38,49,1);
$warm-brown: rgba(14,5,5,.5);
$fuscia: rgba(85,0,85,1);
$sage: rgba(83,156,113,1);
$grey: rgba(64,64,64,1);
$blue: rgba(133,231,255,.6);
$hover-blue: rgba(133,231,255,1);

$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);