@import url(https://fonts.googleapis.com/css?family=Righteous|Noto+Sans);
// font-family: 'Righteous', cursive;
// font-family: 'Noto Sans', sans-serif;


$transwhite: rgba(255,255,255,0.7);
$transblack: rgba(0,0,0,0.7);

$header-bkg: rgba(230,162,133,.7);

//COLOR PALLET
$purple: rgba(97,82,125,1);
$dark-blue: rgba(40,87,191,1);
$hover-blue: rgba(51,113,255,1);
$med-blue: rgba(18,154,222,1);
$light-blue: rgba(195,243,245,1);
$black: rgba(12,10,14,1);
$white: rgba(255,255,255,1);
